@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --black: #222222;
  --red: #d01418;
  --green: #619d00;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scrollbar-color: var(--red);
  scrollbar-width: thin;
  background-color: #C4C4C4;
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background: linear-gradient(#a700a1, #1e0042);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--red);
}

::selection {
  background-color: var(--red);
  color: #fff;
}

/*        Header      */

nav {
  align-items: center;
  background-color: var(--black);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  color: #fff;
  display: flex;
  height: auto;
  justify-content: space-between;
  padding: 2%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.burger::before {
  display: none;
}

ul {
  display: flex;
  list-style: none;
}

li {
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

ul > i {
  padding: 3%;
  cursor: pointer;
  color: var(--red);
}

/*        Main        */

.hero {
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background: url("/img/background.png"), lightgray 50%;
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: center;
  margin-top: 5rem;
}

.hero > h1 {
  color: #fff;
  font-size: 2.5em;
  font-weight: 700;
  text-align: center;
}

h1 > span {
  color: var(--red);
  font-size: 1em;
  font-weight: 700;
}

.hero > button {
  background-color: var(--red);
  border-radius: 5%;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 40px;
  margin: 1.5%;
  width: 140px;
}

/*        Section Productos       */

h2 {
  font-size: 2em;
  font-weight: 500;
  padding: 5px;
}

.destacados {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2%;
  width: 100%;
}

.card-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
  padding: 1%;
  width: 100%;
}

.card {
  background-color: #fff;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 70%;
  margin: 4%;
  padding: 20px;
  transition: 0.3s;
  width: 17rem;
}

.card:hover{
  transform: scale(1.2);
}

.card > img {
  margin: 0 auto;
  padding: 2rem;
}

.card>h3{
  font-size: 20px;
  font-weight: 500;
  padding: 10px 0 6px 0;
}

.envio {
  color: var(--green);
  font-size: 70%;
}

/*    Section Prod. Estrella  */

.prod-estrella {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

.productos {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 5rem;
  padding: 1rem;
  width: 100%;
}

.productos > img {
  cursor: pointer;
  margin: 0 5rem;
  transition: 0.3s;
}

.productos>img:hover{
  transform: scale(1.1);
}

/*    Footer    */

footer {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.f-principal {
  align-items: center;
  background-color: var(--black);
  color: #fff;
  display: flex;
  height: auto;
  justify-content: space-between;
  padding: 4%;
  width: 100%;
}

.icons {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.redes{
  font-size: 1.3em;
  font-weight: 400;
}

.img-redes > img {
  cursor: pointer;
  margin: 0 auto;
  padding: 10px;
}

.f-secundario {
  background-color: #C4C4C4;
  color: #000;
  display: flex;
  justify-content: center;
  width: 100%;
}

@media screen and (max-width: 480px){

  ul{
    display: none;
  }

  .burger::before{
    display: inline-block;
    font-size: 2em;
  }

  .hero{
    margin-top: 1rem;
  }

  .card-container{
    flex-direction: column;
  }

  .productos,
  .f-principal{
    flex-direction: column;
  }

  .productos>img{
    padding: 10px 0;  
    width: 80%;
    margin: 0 auto;
  }

  .redes{
    padding: 20px 0;
  }

}