@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --black: #222222;
  --red: #d01418;
  --green: #619d00;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scrollbar-color: var(--red);
  scrollbar-width: thin;
}

html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-track {
  background: linear-gradient(#a700a1, #1e0042) ;
}


html::-webkit-scrollbar-thumb {
  background-color: var(--red);
}

::selection {
  background-color: var(--red);
  color: #FFF;
}

/*        Header      */

nav {
  align-items: center;
  background-color: var(--black);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  color: #fff;
  display: flex;
  height: auto;
  justify-content: space-between;
  padding: 2%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.burger::before {
  display: none;
}

ul {
  display: flex;
  list-style: none;
}

li {
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

ul > i {
  padding: 3%;
  cursor: pointer;
  color: var(--red);
}

/*        Main        */

.hero {
  align-items: center;
  background: url("/img/background.png"), lightgray 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 30rem;
  justify-content: center;
  margin-top: 3rem;
}

.hero > h1 {
  color: #fff;
  font-size: 2.5em;
  font-weight: 700;
  text-align: center;
}

h1 > span {
  color: var(--red);
  font-size: 1em;
  font-weight: 700;
}

.hero > button {
  background-color: var(--red);
  border-radius: 5%;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 40px;
  margin: 1.5%;
  width: 140px;
}

/*        Section Productos       */

h2 {
  font-size: 2em;
  font-weight: 500;
}

.destacados {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 2%;
  width: 100%;
}

.card-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
  padding: 1%;
}

.card {
  width: 20rem;
  background-color: #fff;
  height: 70%;
  margin: 4%;
  padding: 20px;
}

.card > img {
  margin: 0 auto;
  padding: 2rem;
}

.envio{
  font-size: 70%;
  color: var(--green);
}

/*    Section Prod. Estrella  */

.prod-estrella{
  width:100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productos{
  display: flex;
  padding: 1rem;
  padding-bottom: 5rem;
  width: 100%;
  justify-content: space-evenly;
}

.productos>img{
  margin: 0 5rem;
}

/*    Footer    */

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.f-principal{
  background-color: var(--black);
  color: #FFF;
  display: flex;
  height: auto;
  justify-content: space-between;
  padding: 3%;
  width: 100%;
}